# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
env/
venv/
.venv/

# Distribution / packaging
build/
dist/
*.egg-info/
pip-wheel-metadata/

# Installer logs
pip-log.txt

# dotenv environment variables
.env
.env.*

# Logs
logs/
*.log

# IDEs and editors
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# OS files
.DS_Store
Thumbs.db

# Coverage reports
.coverage
htmlcov/

# Node modules (если вдруг используете npm/yarn)
node_modules/

# WebApp build output (если собираете)
webapp/dist/
webapp/build/


balloon_venv/